*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(209, 202, 202);
 
    
}

.header{
    width: 100%;
    margin: 0px;
    background-color: rgb(55, 59, 59);
    display: flex;
    height: 50px;
    justify-content: baseline;
    
}
.logo{
    justify-content: flex-start;
    color: white;
    font-size: 32px;
    margin-left: 26px;
}

.nav{
    justify-content: flex-end;
    padding: 13px;
    width: 1000px;
   
}
.nav >a{
    margin-top: -10px;
   color: cornsilk;
}
.color-font{
    color: rgb(105, 156, 221);
}
.gray-color{
    color: rgb(152, 156, 156);
  
}
.container {
    background-color: white;
    margin-top:10px ;
}
.ta{
    padding: 10px;
}
.under-nav{
    margin-left: 80px;
}
.button{
    margin-right: 92px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(55, 59, 59);
    color: white;
    text-align: center;
    height: 50px;
  }
.footer > p{
    margin-top: 15px;
    margin-bottom: 1rem;
}
