*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
width: 100%;
    margin: auto;		
}
body{
    width: 100%;
    margin: auto;
    font-family: 'Raleway', sans-serif;

}
h5{
	font-size: 16px;
    text-transform: uppercase;
}
.grid{
	display: grid;
    grid-template-columns: 30% 70%;
	margin-top: 50px;
}
.first_side{
    background-color: rgb(43, 183, 226);
    height: 100%;
    width: 100%;

}
.container-first{
	width: 80%;
	height: 80%;
    margin: auto;
}
.SginUp{
	margin: 109px 0px;
    color: cornsilk;
}
.SginIn{
   
    color: cornsilk;
}

.second-side{
    width: 100%;
	height: 100%;
    background-color: rgb(213, 224, 213);
}
.input {
	font-size: 20px;
    padding: -2px 7px 2px -7px;
    -webkit-appearance: none;
    display: block;
    background-color: rgb(213, 224, 213);
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

.input:focus { outline: none; }
label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}
.input:focus ~ label, .input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}
.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.input:focus ~ .bar:before, .input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}
.group { 
	position: relative; 
	margin-bottom: 45px; 
}
form {
	width: 369px;
    margin: 56px 107px;
    background-color: rgb(213, 224, 213);
}